{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
  <table style="width: auto;" class="table table-hover mx-auto">

        <tr>
            <th> ID </th>
            <th> ФИО </th>
            <th> Дата рождения </th>
        </tr>

        <!-- Строки таблицы -->
        {% for author in authors %}
        <tr>
            <td> {{ author.id }} </td>
            <td> {{ author.FIO }} </td>
            <td> {{ author.birth_date }} </td>
            <td>
                <button class="btn btn-sm btn-danger" onclick="delete_author({{ author.id }})">удалить</button>
            </td>
        </tr>
      {% empty %}
      Авторов пока нет :(
      {% endfor %}
    </table >

<h3 style="margin-top: 60px">Добавить автора</h3>
<form method="post">
    {% csrf_token %}

    {{form.as_p}}
<!--      <div class="mb-3">-->
<!--    -->
<!--       <label for="FIO" class="form-label">ФИО</label>-->
<!--       <input name="FIO" type="text" class="form-control" id="FIO" required>-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--          <label for="birth_date" class="form-label">Дата рождения</label>-->
<!--          <input name="birth_date" type="date" class="form-control" id="birth_date">-->
<!--      </div>-->
  <button style="margin-top: 10px" type="submit" class="btn btn-primary">Добавить</button>
</form>





<script>
        const delete_author = (author_id) => {
            const result = confirm("Удалить автора " + author_id + "?");
            if (result === true) {
                const url = "/delete_author/"+author_id;
                window.location = url;
            }
        }

        document.getElementById('birth_date').value = new Date().toISOString().split('T')[0];

    </script>


{% endblock %}
